<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
    <!--Link do bootstrap de icones-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <title>Meu Portfólio</title>
</head>

<body>
    <i class="bi bi-list icon-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="static/img/perfil.jpg" alt="minha foto de Perfil">
            <h1>Fortunato Roncholeta</h1>
            <div class="icones-profile mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/fortunato-roncholeta-a4a56a209/"><i
                        class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/FortunatoRoncholeta"> <i class="bi bi-github"></i></a>
                <a target="_blank" href="https://www.instagram.com/fortunato.roncholeta/"><i
                        class="bi bi-instagram"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i>
                        Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-stars"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-text"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#portifolio"><i class="bi bi-collection-fill"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-fill"></i> Contato</a>
                </li>


            </ul>

        </nav>



    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Fortunato Roncholeta</h2>
                <span id="subtitle" class="text-white text-shodow"></span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end ">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" text-white pe-2 fs-2 aria-hidden="true"></i>
                    <a href="#sobre">Veja mais</a>
                </div>

            </div>

        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">

                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre </h2>
                    <p>Desde de criança apaixonado pela cultura nerd e afins , e desde então comecei a procurar mais
                        sobre tais conteúdos, quando me deparei com tecnologias e a área de programação, logo de cara me
                        identifiquei e sigo desde então buscando mais conhecimento tanto na parte de softwares e
                        hardware.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shodow rounded" src="static/img/perfil.jpg" alt="minha foto de Perfil"
                        data-anime="left">
                </div>

                <div class="col-md-8" data-anime="right">
                    <h3>Programação</h3>
                    <p>
                        Em 2017 ingressei no curso técnico subsequente no Instituto Federal de Educação, Ciência e
                        Tecnologia do sul de Minas Gerais quando descobri a área da Programação e desde então não parei
                        mais de estudar sobre. Hoje continuo seguindo na área porém atualmente estou cursando a
                        graduação onde me identifiquei muito com Front end.
                    </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Nascimento: <span class="fw-lighter">03 de junho de
                                        1999</span>
                                </li>
                                <li class="list-group-item">idade: <span class="fw-lighter">23 anos</span></li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">Muzambinho</span></li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">Minas Gerais</span></li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Games</span>
                                </li>
                                <li class="list-group-item">Ocupação: <span class="fw-lighter">Estudante</span></li>
                                <li class="list-group-item"> <span class="fw-lighter"></span></li>

                            </ul>



                        </div>


                    </div>
                    <p>

                    </p>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 fundo-sec">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Com estes anos de estudo pude aprimorar as minhas habilidades no Mercado de trabalho e sala de aula.
                </p>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Criatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 45%;"
                                aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>


                    </div>



                </div>




        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2>Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="titulo-curriculo">Educação</h3>
                        <div class="item-curriculo" data-anime="up">
                            <h4>Graduando em Ciencias da computação</h4>
                            <h5>2019-Atualmente</h5>
                            <p><em>Instituto Federal Campus sul de Minas Gerais</em></p>
                            <p>Bacharelado em Ciencias da computação</p>
                        </div>

                        <div class="item-curriculo" data-anime="up">
                            <h4>Técnico em Informática</h4>
                            <h5>2017-2019</h5>
                            <p><em>Instituto Federal Campus sul de Minas Gerais</em></p>
                            <p>Curso técnico subsequente realizado no IFSULDEMINAS</p>
                        </div>

                        <div class="item-curriculo" data-anime="up">
                            <h4>Ensino Médio</h4>
                            <h5>2016</h5>
                            <p><em>Colégio Lyceu</em></p>
                            <p>Conclusão Ensino Médio</p>
                        </div>




                    </div>

                    <div class="col-md-6">
                        <h3 class="titulo-curriculo">Profissional</h3>

                        <div class="item-curriculo" data-anime="up">
                            <h4>Técnico de Celulares</h4>
                            <h5>2020-Atualmente</h5>
                            <p><em>Oficina Do Celular</em></p>
                            <p>Responsavel pela Manutenção de Software e hardware de aparelhos mobile </p>
                        </div>

                        <div class="item-curriculo" data-anime="up">
                            <h4>Desenvolvedor Delphi</h4>
                            <h5>3/2020-5/2020</h5>
                            <p><em>Grupo Grand Pneus</em></p>
                            <p>Desenvolvedor Delphi, no sistema de gestão da empresa</p>
                        </div>

                        <div class="item-curriculo" data-anime="up">
                            <h4>Estágio</h4>
                            <h5>2019-2020</h5>
                            <p><em>E.M.Sagrado Coração de Jesus</em></p>
                            <p>Auxiliar de secretaria Escolar</p>
                        </div>
                    </div>


                </div>


                <div style="position: relative; width: 100%; height: 0; padding-top: 141.4286%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
                    <iframe loading="lazy"
                        style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFGhUwQjqA&#x2F;view?embed"
                        allowfullscreen="allowfullscreen" allow="fullscreen">
                    </iframe>
                </div>
                <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFGhUwQjqA&#x2F;view?utm_content=DAFGhUwQjqA&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
                    target="_blank" rel="noopener">Fortunato Roncholeta</a> de Koala DK
            </div>


        </section>

        <section id="portifolio" class="mt-5 fundo-sec">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carrosel-portifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carrosel-portifolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carrosel-portifolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>

                    </div>
                    <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <!--card 1-->
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/card 1.png" class="card-img-top" alt="Projeto Fisico Nutricional">
                                        <div class="card-body">
                                            <h5 class="card-title">Gestao Fisico Nutricional</h5>
                                            <p class="card-text">Projeto em grupo realidado na graduação.Consiste em um sistema para gerenciar suas atividades físicas e dieta(Projeto Incompleto).</p>
                                           
                                            <div class="d-flex justify-content-center">
                                                <a target="_blank" href="https://github.com/maria2122/Gestao-Fisico-Nutricional" class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a target="_blank" href="https://gest-fisico-nutricional.herokuapp.com/login" class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--card 2-->
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/em-breve.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projetos futuros serão adicionados aqui.</p>
                                                <div class="d-flex justify-content-center">
                                                    <a target="_blank" href="" class="btn btn-outline-dark me-3"><i
                                                            class="bi bi-github"></i></a>
                                                    <a target="_blank" href="" class="btn btn-outline-primary"><i
                                                            class="bi bi-link-45deg"></i></a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!--card 3-->
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/em-breve.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projetos futuros serão adicionados aqui.</p>
                                                <div class="d-flex justify-content-center">
                                                    <a target="_blank" href="" class="btn btn-outline-dark me-3"><i
                                                            class="bi bi-github"></i></a>
                                                    <a target="_blank" href="" class="btn btn-outline-primary"><i
                                                            class="bi bi-link-45deg"></i></a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--part 2-->
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <!--card 1-->
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/em-breve.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projetos futuros serão adicionados aqui.</p>
                                                <div class="d-flex justify-content-center">
                                                    <a target="_blank" href="" class="btn btn-outline-dark me-3"><i
                                                            class="bi bi-github"></i></a>
                                                    <a target="_blank" href="" class="btn btn-outline-primary"><i
                                                            class="bi bi-link-45deg"></i></a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!--card 2-->
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/em-breve.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projetos futuros serão adicionados aqui.</p>
                                                <div class="d-flex justify-content-center">
                                                    <a target="_blank" href="" class="btn btn-outline-dark me-3"><i
                                                            class="bi bi-github"></i></a>
                                                    <a target="_blank" href="" class="btn btn-outline-primary"><i
                                                            class="bi bi-link-45deg"></i></a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!--card 3-->
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/em-breve.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Projetos futuros serão adicionados aqui.</p>
                                                <div class="d-flex justify-content-center">
                                                    <a target="_blank" href="" class="btn btn-outline-dark me-3"><i
                                                            class="bi bi-github"></i></a>
                                                    <a target="_blank" href="" class="btn btn-outline-primary"><i
                                                            class="bi bi-link-45deg"></i></a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <button class="carousel-control-prev" type="button" data-bs-target="#carrosel-portifolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carrosel-portifolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>





        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3 ">Contato</h2>
                <div class="row">
                    <div class="col-md-5" data-anime="up">
                        <div class="card p5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo"></i>Localização:</h4>
                                <p>Muzambinho, MG</p>

                                <div class="email">
                                    <h4><i class="bi bi-envelope"></i>Email:</h4>
                                    <p>fortunatoroncholeta@gmail.com</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-7 mt-5-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">


                            <form class="row g-3" action="/email">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="digite seu email" required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <p id="error-alert">PS: Com as novas politicas de segurança do google,
                                        o sistema de enviar mensagem não esta mais funcionando,para
                                        entrar em contato mande email para:fortunatoroncholeta@gmail.com</p>
                                    <textarea type="text" class="form-control" id="mensagem" rows="10" name="mensagem"
                                        placeholder="digite sua mensagem" required></textarea>

                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary" id="btn-enviar">Enviar</button>

                                    <button class="btn btn-primary" type="submit" id="btn-loading">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>


                    </div>




                </div>
            </div>
        </section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle"></i> {{ Bem vindo}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}



    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Fortunato Roncholeta</strong>


            </div>


    </footer>


    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>